html, body {
    height: 100%;
    font-family: 'IBM Plex Mono', monospace;
	color: blue;
	scrollbar-color: blue;
}

body {
	text-align: center;
}

/*@media (min-width: 1024px) {
	body{}
	#detailcol{}
}*/

@keyframes move_bg {
	0% { background-position: 0 0; }
	100% { background-position: -200vh 0; }
}

@media (min-width: 1024px) {
	@keyframes move_bg {
		0% { background-position: 0 -10vh; }
		100% { background-position: -100vw -10vh; }
	}
}

@keyframes fade_anim {
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { display:none; opacity:0; }
}

@keyframes fade_in {
  0%   { opacity:0; }
  100% { opacity:1; }
}

@keyframes spin {
	0% { transform: translateX(0%) rotate(0deg) ; }
	25% { transform: translateX(-5%) rotate(90deg) ; }
	50% { transform: translateX(0%) rotate(180deg) ; }
	75% { transform: translateX(5%) rotate(270deg) ; }
	100% { transform: translateX(0%) rotate(360deg) ; }
}

@keyframes spin_button {
	0% { transform: rotate(0deg) ; }
	25% { transform: rotate(90deg) ; }
	50% { transform: rotate(180deg) ; }
	75% { transform: rotate(270deg) ; }
	100% { transform: rotate(360deg) ; }
}

.row{
	--bs-gutter-x: 0;
}

.maincont{
	max-width: 100vw;
}

.col-md {
	max-height: 100vh;
	max-width: 96vw;
}

#soundcol{
	padding: 30px;
	flex-direction: column;
	background: url('img/bgwave.png') -50% 0% repeat;
	background-repeat: repeat;
	animation-name: move_bg;
	animation-duration: 60s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	background-size: cover;
	border: 1px solid blue;
	border-radius: 50px;
	max-height: 60vh;
	min-height: 500px !important;
	margin-bottom: 20px;
}

@media (max-width: 500px) {
	#soundcol{
		max-height: none;
	}
}

@media (min-width: 768px) {
	#soundcol{
		margin: 0 50px 0 0;
	}
}

#detailcol{
	max-height: none;
}

.details{
	width: inherit;
	height: inherit;
	text-align: justify;
	padding: 0 5% 200px 0;
}

@media (max-width: 800px) {
	.details{ padding: 0 }
}

.main_img {
	max-width: 150px;
}

.head_logo{ 
	margin: 40px;
	width: 50vw;
}

@media (max-width: 417px) { .head_logo{ margin: 0 0 20px 0 } }

.subtext {
	animation-fill-mode: forwards;
	font-size: 10pt;
	margin-top: 30px;
}

/*
.ms_contain{
	
}*/

.main_sunete {
	opacity: 1;
	margin-top: 6%;
}

.sound_button{
	width: 20vh;
	height: 20vh;
	border: 1px solid blue;
	border-radius: 100%;
	overflow: hidden;
	margin: 5px;
	padding: 0;
	line-height: 0;
	background-position: center;
	background-size: contain;
	transition: background-image 0.5s ease-in-out;
	-moz-transition: background-image 0.5s ease-in-out;
}

#sb1 { background-image: url('img/obj1_1.jpg');}
#sb2 { background-image: url('img/obj2_1.jpg');}
#sb3 {	background-image: url('img/obj3_1.jpg');}

@media (min-height: 600px) {
	@media (min-width: 800px) {
		.main_sunete{
			animation: 120s spin;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
			transform-origin: center;
			width: 40vh;
			height: 40vh;
		}
		.sound_button{
			animation: 120s spin;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
			animation-direction: reverse;
			width: 18vh;
			height: 18vh;
		}
		#sb3 {
			margin-top: -40px;
		}
	}
}

.sound_button img{
	width: inherit;
	height: inherit;
}

#langswitch{
	background: white;
	border: 1px solid blue;
	color: blue;
	padding: 10px 15px 10px 15px;
	border-radius: 25px;
	margin-top: -10px;
	cursor: pointer;
	transition: 1s;
}
